button,html [type=button],[type=reset],[type=submit],[type=cancel] {
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-family: perpetua;
    background-image: linear-gradient(90deg, DarkRed, Red 50%, DarkRed 100.0%);
    align-items: center;
    box-sizing: content-box;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 16px;
    min-height: 18px;
    padding: 7px 26px;
    margin-top: -10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.confirm {
    float:right;
    margin-top: 10px;

}

.cancel {
    background: transparent;
    border: 1px solid black;
    float:left;
    margin-left: 52%;
    margin-top: 10px;
    padding: 6px 26px;
}

.cancel2 {
    background: transparent;
    border: 1px solid black;
    float:left;
    margin-left: 55%;;
    margin-top: 10px;
    padding: 6px 26px;
}

.button:hover,.confirm:hover {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.24),0 5px 10px 0 rgba(0,0,0,0.19);
    text-decoration: underline;
    margin-left: 1px;
}

.cancel:hover, .cancel2:hover {
    text-decoration: underline;
}