body {
    width: 99%;
    background-attachment: fixed;
    background-image: url("../../vista/img/background.png");
    font-family: "Segoe UI",Arial,sans-serif;
}

.form {
    background-image: linear-gradient(#f1f1f1, #d4d4d4, #e6e6e6);
    width: 34.8%;
    border-radius: 10px;
    font-weight: bold;
    padding: 0.01em 16px;
    margin-left: 3%;
    box-shadow: 0px 2px 4px 0 black!important;
}

.form-text {
    text-align: left;
    margin-left: 33%;
    margin-top: -10px;
    margin-bottom: -15px;
    font-family: perpetua;
}

.form-alta {
    text-align: left;
    margin-top: -10px;
    font-family: perpetua;
}

input {
    border-radius: 3px;
    padding: 2px;
}

.celda {
    margin-bottom: 5px;
    max-inline-size: 168px;
}

.editcelda {
    width: 80%;
}

.fillable {
    height: 75px;
    border-radius: 5px;
    width: 100%;
}

.form-h2 {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 0, 0, 1)), color-stop(50%, rgba(170, 0, 0, 1)), color-stop(51%, rgba(170, 0, 0, 1)), color-stop(71%, rgba(170, 0, 0, 1)), color-stop(100%, rgba(255, 0, 0, 1)));
    border: 2px solid black;
    border-left: none;
    text-align: left;
    padding-left: 7px;
    color: white;
    margin-left: -9px;
    text-shadow: 1px 1px 1px black;
    font-size: 120%;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    border-radius: 0px 15px 15px 0px;
    margin-bottom: 20px;
}

.error {
    background: rgba(224, 10, 10, 0.9);
    width: 28%;
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.error2 {
    margin-left: 37%;
    margin-bottom: -3%;
    text-align: center;
}

.resultado {
    background: rgba(54, 210, 102, 0.9);
    width: 28%;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

table {
    width: 99.9%;
}

table, th, td {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
    padding-left: 45px;
}

.less_padding {
    padding-left: 1%;
}

th {
    background: silver;
}

tr {
    background: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

caption {
    background-color: #cc2118;
    border-top: 1.5px solid white;
    color: #fff;
    font-size: x-large;
    font-weight: bold;
    letter-spacing: .3em;
}

.enlaces {
    float: right;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px 10px 4px 8px;
    margin-top: 10px;
}

.mostrando {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 21%;
    padding: 2px 10px 2px 15px;
    margin-left: -1%;
    margin-top: 10px;
    margin-bottom: 5%;
}

.flex {
    display: flex;
    justify-content: center;
    margin-top: 59px;
    margin-bottom: 5%;
}

.flex-error {
    display: flex;
    margin-top: 59px;
}

.hide {
    display: none;
}

progress {
    padding: 2px;
    border: 0 none;
    background: white;
    border-radius: 14px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  }
  progress::-moz-progress-bar {
    border-radius: 12px;
    background: red;
    box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3);
    
  }
  /* webkit */
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    progress {
    }
  }
  progress::-webkit-progress-bar {
      background: transparent;
  }  
  progress::-webkit-progress-value {  
    border-radius: 12px;
    background: red;
    box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3); 
  } 